@import "modules/reset";
@import "modules/variables";
@import "modules/layout";

body, html {
  padding: 0;
  margin: 0;
}

#app {
  padding: 20px 20px;
}

footer {
  color: $text-secondary;
  text-align: right;
  font-size: 0.8em;
  a {
    outline: none;
    color: lighten($text-secondary, 10%);
    &:hover {
      color: $text-secondary;
    }
  }
}

.popup-content {
  min-width: 200px;
  width: 300px;
  max-width:300px;
}

.app-name {
  font-size: 14px;
  text-transform: uppercase;
  color: $text-secondary;
  text-align: center;
  margin: 0 auto 1em auto;
  padding: 0;
}

.site-description {
  font-size: 0.8em;
  padding: 0.5em;
  border: 1px solid $gray;
  margin: 0;
  background-color: white;

  .site-favicon {
    float:left;
    margin:4px;
    max-width: 10px;
  }

  h3 {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $gray;
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }

  .description {
    color: $text-secondary;
    max-height: 100px;
    line-height: 1.2;
  }

  .url {
    outline: none;
    text-decoration: none;
    line-height: 1.2;
    font-size: 0.8em;
    word-break: break-word;
    display: block;
  }
}

.action-container {
  margin: 2em auto;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.collapsable {
  max-height: 400px;
  overflow: hidden;
  transition: max-height 500ms ease-out ;
}
.collapsable-closed {
  max-height: 0px;
}

#btn-open {
  display: inline-flex;
  align-items: center;
  font-size: 1.1em;
  margin: 8px auto;

  .btn-open-img {
    width:18px;
    margin-right:1rem;
  }
}

#btn-help {
  cursor: pointer;
  opacity: 0.4;
  display: inline-block;
  width:24px;
  position: absolute;
  margin: 14px;
}
#btn-help:hover {
  opacity: 1;
}

.checkbox-include-session {
  font-weight: unset;
  margin: auto;
  font-size: 0.8em;
  color: #4e4e4e;
}

.logo {
  width: 135px;
  margin: auto;
}

.faq-info {
  border-left-color: rgba(8, 0, 158, 0.62) !important;
}

.faq-danger {
  border-left-color: rgba(255, 0, 0, 0.62) !important;
}

.faq {
  border-radius: 2px;
  border: 1px solid $gray;
  border-left-width: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.faq-item {
  font-size: 0.9em;
  padding: 3px 0px;
}

.faq-strong {
  font-weight: bold;
}
